.inputLine {
    padding: 0px 0px 0px 10px; 
    border: none;  
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    margin-top: 18px;
    font-size: 20px;
    width: 25em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}