body {
  margin-right: 1em;
  margin-left: 1em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(52, 71, 71);
  color: white;
  text-align: right;
  font-size: 2em;
  padding-right: 1em;
}


